<% provide(:title, "Movies") %>
<h1>Movies</h1>
<div class="myimage">
<div class="image"><%= link_to image_tag("hero1.jpg", size: "280x250", alt: "Rails logo") %>
  <div>
  <p>Movie: BAD BOYS II</p>
  <P>Actor: Will Smith  |  Martin Lawrence</p>
  <p>Actress: Gabrielle Union</p>
  <p>Release date: July 18, 2003 (USA)</p>
  <p>Director: Michael Bay</p>
  <p>Budget: 130 million USD</P>
  <p>Box office: 273.3 million USD</P>
  </div>
</div>
<div class="image"><%= link_to image_tag("hero2.jpg", size: "280x250", alt: "Rails logo") %>
  <div>
<p>Movie: Unstoppable</p>
<P>Actor: Denzel Washington  |  Chris Pine</p>
<p>Actress: Rosario Dawson</p>
<p>Release date: November 12, 2010 (USA)</p>
<p>Director: Tony Scott</p>
<p>Budget: N/A </P>
<p>Box office: 167.8 million USD</P>
</div>
</div>
<div class="image"><%= link_to image_tag("hero3.jpg", size: "280x250", alt: "Rails logo") %>
  <div>
<p>Movie: Lucy</p>
<P>Actor: Denzel Washington  |  Chris Pine</p>
<p>Actress: Rosario Dawson</p>
<p>Release date: November 12, 2010 (USA)</p>
<p>Director: Tony Scott</p>
<p>Budget: N/A </P>
<p>Box office: 167.8 million USD</P>
</div>
</div>
</div>
<div>
<%= link_to image_tag("hero5.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero6.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero7.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero8.jpg", size: "280x250", alt: "Rails logo") %>
</div>

<div>
<%= link_to image_tag("hero9.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero10.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero11.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero12.jpg", size: "280x250", alt: "Rails logo") %>
</div>
